/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* general css */
body {
    box-sizing: border-box;
    /* width: 100%;
    overflow-x: hidden; */
    @apply bg-white;
    @apply text-black;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* background-color: #ffdee9;
    background-image: linear-gradient(105deg, #ffdee9 0%, #defffe 100%); */
    /* background-color: #c7d2fe;
    background-image: linear-gradient(105deg, #c7d2fe 0%, #defffe 100%); */
}
.boxShadow {
    box-shadow: 0px 0px 60px #acacac;
}
.active {
    @apply border-white;
    @apply text-yellow-100;
}
/* animations */
.fade-in {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 4px;
    /* display: none; */
}
::-webkit-scrollbar-thumb {
    @apply bg-gray-500;
}
::-webkit-scrollbar-track {
    background-color: #ffffff;
}
